
@{
    ViewBag.Title = "About";
    Layout = "~/Views/View.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Haqqimizda</h3>
            <img src="~/web/images/about_banner.jpg" alt="" />
            <p>Lorem ipsum dolor</p>
            
        </div>
    </div>
</div>